:root {
  --white: #ffffff;
  --gray-300: #c4c4cc;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --brown-100: #faedcd;
  --brown-300: #d4a373;
  --yellow-100: #fefae0;
  --yellow-200: #faf0ca;
  --yellow-500: #f4d35e;
  --orange-500: #ee964b;
  --orange-800: #f95738;
  --green-200: #ccd5ae;
  --green-100: #e9edc9;
  --blue-700: #0d3b66;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--yellow-100);
  color: var(--gray-600);
  --webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem
}