.main {
  width: 80%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 10px auto;
  position: relative;
  background-color: var(--white);
}

.info {
  background-color: var(--orange-500);
  border-radius: 5px 5px 0 0;
  padding: 15px;
  height: 45%;
}

.content {
  padding: 20px;
}

.cards, .cardsMovie {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.cards div {
  width: 220px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 10px 0;
  position: relative;
  padding: 20px 10px;
  background-color: var(--orange-500);
}

.cardsMovie div {
  width: 400px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 10px 0;
  position: relative;
  padding: 20px 10px;
  background-color: var(--green-200);
}

.title h4 {
  display: inline-block;
}

.title span {
  display: inline;
  font-size: 10px;
  color: var(--blue-700);
}

.title p {
  font-size: 10px;
  color: var(--gray-500);
}