.loading {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  justify-content: center;
  height: 100vh;
  line-height: 40%;
}

.loading h3 {
  padding: 10px;
  color: var(--brown-300);
}

.loader {
  width: 35px;
  height: 35px;
  border: 3px solid var(--brown-300);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 